body{
    margin: 0px;
}
#nav-header{
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #F0F1F5;
    background-blend-mode: soft-light, normal;
    box-shadow: -42.6667px -42.6667px 128px #FFFFFF, 64px 64px 128px rgba(174, 174, 192, 0.4);
    width: 1440px;
    height: 66px;
}
#Logo-header{
    padding-left: 86px;
    padding-top: 14px;
}

#Logo-header img{
    width:72px;
    padding-right: 6px;
}

#Logo-header p{
    display:inline;
    text-transform: uppercase;
    position: relative;
    top: -4px;
    font-size:14px;
    font-weight:bold;
}

.item-header{
    position: relative;
    left: 354px;
    top: -21px;
    margin-left: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-size:14px;
    letter-spacing: 0.02em;
    color: #414B5A;

}

.item-header:hover{
    text-decoration: underline;
}

#button-header{
    position: absolute;
    top: 19px;
    right: 200px;
    width: 150px;
    height: 28px;
    background: #F0F0F3;
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    
}

section{
    display: flex;
}

#text-body{
    margin-top: 217px;
    margin-left: 162px;
    width: 569px;
    height: 179px;
}
#text-body h2{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
#text-body p{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #414B5A;
}
#img-body{
    margin-top: 51px;
    margin-right: 99px;
    margin-left: 116px;
}

footer{
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #F0F1F5;
    background-blend-mode: soft-light, normal;
    box-shadow: -42.6667px -42.6667px 128px #FFFFFF, 64px 64px 128px rgba(174, 174, 192, 0.4);
    width: 100%;
    height: 100%;
}

#footer-text{
    position: relative;
    top: 34px;
    left: 69px;
    
}
#footer-img {
    text-align: right;
}
#footer-img p{
   position: relative;
   right: 170px;
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 100%;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #414B5A;
}
#footer-img img{
    position: relative;
    right:128px;
    top: -32px;
}